header{
    text-align: center;
    background-color: rgb(255,255,255,0.75)
}
h2{
    background-color:#fbffc2
}
body{
    font-family: Comic Sans MS;
    background-color: #99d3ff;
    text-align: left;
    background-image: url("doughboywallpaper.jpg");
    background-size: 100%
    background-repeat: no-repeat;
}
p{
    background-color:#c2e4ff
    font-size: 14pt;
    color: black;
    width: 650;
    background-color: rgb(255,255,255,0.75);
}
a{
    background-color:yellow;
    color:blue;
}
a:hover{
    background-color:#fbffc2;
}
